<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hotel</title>
</head>
<body>
<table class = "what">
    <tbody>
    <tr>
    <th>By: {{.By}}</th>
    <th>Descendants: {{.Descendants}}</th>
    <th>ID: {{.ID}}</th>
    <th>Kids: {{.Kids}}</th>
    <th>Score: {{.Score}}</th>
        <th>Time: {{.Time}}</th>
        <th>Title: {{.Title}}</th>
        <th>Type: {{.Type}}</th>
        <th>URL: {{.URL}}</th>
    </tr>

    </tbody>
</table>

</body>
</html>