<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jon</title>
</head>
<body><table class="jon">
    <th>URL:{{.URL}} </th>
    <th>Name:{{.Name}} </th>
    <th>Gender:{{.Gender}} </th>
    <th>Culture:{{.Culture}}</th>
    <th>Born:{{.Born}}</th>
    <th>Died:{{.Died}}</th>
    <th>Titles:{{.Titles}}</th>
    <th>Aliases:{{.Aliases}}</th>
    <th>Father:{{.Father}}</th>
    <th>Mother:{{.Mother}}</th>
    <th>Spouse:{{.Spouse}}</th>
    <th>Allegiances:{{.Allegiances}}</th>
    <th>Books:{{.Books}}</th>
    <th>PovBooks:{{.PovBooks}}</th>
    <th>TvSeries:{{.TvSeries}}</th>
    <th>Played By:{{.PlayedBy}}</th>
</table>

</body>
</html>