<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CryptoCurrency Tracker</title>
    <style>
        h3, h2 {
            color: white;
        }
        img {
            padding: 8px;
        }
    </style>
    </head>
    <body>
        <h3 align="center">Cryptocurrency Tracker</h3>
        <h2 align="center"><b>Detailed information of: <{{.Name}}></b></h2>
        <p id="p02" align="center"><img src="https://cdn.worldvectorlogo.com/logos/{{.Name}}.svg" alt=".png" height="100px" width="100px"></p>
    </body>
    </html>
